# IDE settings
.idea/
.vs/
**/*.user

# should be recreated via "package restore"
packages/

# don't know where this comes from but it gets generated often
nuget.exe

# Compiler output
**/bin
**/obj
**/Debug

